.qr-form {
    display: inline-block;
}

.qr-form button {
    background-color: #020202;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 100%;
}

.qr-form button:hover {
    background-color: rgb(179, 171, 159);
}

.ticket {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 350px;
    margin: auto;
    margin-top: 2rem;

}

.ticket__header,
.ticket__body,
.ticket__footer {
    padding: 1.25rem;
    background-color: #fff;
    border: 1px solid hsl(200, 10%, 70%);
    box-shadow: 0 2px 4px hsla(200, 20%, 20%, 0.25);
}

.ticket__header {
    font-size: 1.5rem;
    border-top: 0.25rem solid #dc143c;
    border-bottom: none;
    box-shadow: none;
}

.ticket__wrapper {
    box-shadow: 0 2px 4px hsla(200, 20%, 20%, 0.25);
    border-radius: 0.375em 0.375em 0 0;
    overflow: hidden;
}

.ticket__divider {
    position: relative;
    height: 1rem;
    background-color: #fff;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.ticket__divider::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    border-bottom: 2px dashed hsl(200, 10%, 92%);
}

.ticket__notch {
    position: absolute;
    left: -0.5rem;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
}

.ticket__notch::after {
    content: '';
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
    right: 100%;
    top: -50%;
    border: 0.5rem solid #fff;
    border-radius: 50%;
    box-shadow: inset 0 2px 4px hsla(200, 20%, 20%, 0.25);
}

.ticket__notch--right {
    left: auto;
    right: -0.5rem;
}

.ticket__notch--right::after {
    right: 0;
}

.ticket__body>*+* {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid hsl(200, 10%, 70%);
}

.ticket__section>*+* {
    margin-top: 0.25rem;
}

.ticket__section>h3 {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.ticket__header,
.ticket__footer {
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.ticket__footer {
    border-top: 2px dashed hsl(200, 10%, 92%);
    border-radius: 0 0 0.325rem 0.325rem;
}

.body-ticket {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: hsl(200, 10%, 30%);
}

*,
*::after {
    box-sizing: border-box;
    margin: 0;
}




.form-create {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(216, 210, 201);
    font-family: Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}


.white-ticket {
    display: flex;
    color: #000000 !important;
    padding: 20px;
    margin-bottom: 20px;
    border-top: 2px solid black;
}


label {
    color: #000 !important;
}

h2 {
    color: #000 !important;
}

.form-create label {
    display: block;
    margin-bottom: 5px;
}

.form-create input[type="text"],
.form-create input[type="number"],
.form-create input[type="date"],
.form-create input[type="time"],
.form-create input[type="file"],
.form-create button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #fff;
}

.form-create button {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

.form-create button:hover {
    background-color: rgb(179, 171, 159);
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
}

input[type="file"]::file-selector-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: rgb(179, 171, 159);
}

.film-name {
    text-align: left;
}

.back-kino {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(216, 210, 201);
    margin-top: 10px;
    border-radius: 5px;
}

.back-kino2 {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(216, 210, 201);
    margin-bottom: 10px;
    border-radius: 5px;
}

.back-kino4 {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(216, 210, 201);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.back-kino3 {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(216, 210, 201);
    border-radius: 5px;
}

.back-kino5 {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(216, 210, 201);
    border-radius: 5px;
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 70px;
    height: auto;
}

.btn-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    margin-left: auto;
}

.login-button {
    margin-left: 10px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.login-button[href="/film/create"] {
    background-color: #020202;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}


.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-bar input[type="date"] {
    background-color: #fff;
    color: #000;
    width: 150px;
}

.menu-bar input[type="date"],
.menu-bar .buy-ticket {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.menu-bar .buy-ticket {
    background-color: rgb(255, 255, 255);
    color: #000000;
    margin-left: 20px;

}

.menu-bar .buy-ticket:hover {
    background-color: rgb(216, 210, 201);
}

.schedule-container {
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.schedule-container h1 {
    font-size: 40px;
}



.schedule-container2 {
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.schedule-container2 h1 {
    font-size: 20px;
}


.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;

}

.day:hover {
    background-color: #ddd;
}

.calendar-container {
    max-width: 1300px;
    margin: 0 auto;
}

.movie-description {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.movie-cover {
    flex: 0 0 auto;
    margin-right: 200px;
    padding: 10px;
}


.movie-cover img {
    width: 50%;
}

.movie-info {
    flex: 1;
}

.movie-description .ticket {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

.movie-description .ticket:hover {
    background-color: rgb(179, 171, 159);
}

.movie-cover .poster-img {
    height: 250px;
    width: 170px;
}

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
}

body {
    background-image: url(/public/img/back2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    font-family: "helvetica";
    font-size: 14px;
}

.page-header {
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__title {
    margin: 0;
    font-weight: 900;
    font-size: 3.4rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

.page-header__title span {
    font-weight: 100;
}

/* ~~~~~~~~~~~~ Главная ~~~~~~~~~~~~ */
.page-nav {
    position: sticky;
    top: 2px;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    color: #000000;
    z-index: 10;
    overflow-x: clip;
}

.page-nav .page-nav__day {
    flex-basis: 12.5%;
    font-size: 1.2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    text-decoration: none;
    color: #000000;
    transition: 0.2s all ease-in-out;
}

.page-nav .page-nav__day:hover:not(.page-nav__day_chosen) {
    background: rgba(245, 245, 245, 0.9);
}

.page-nav .page-nav__day+.page-nav__day {
    margin-left: 1px;
}

.page-nav .page-nav__day .page-nav__day-week::after {
    content: ",";
}

.page-nav .page-nav__day .page-nav__day-number::before {
    content: " ";
}

.page-nav .page-nav__day .page-nav__day-week,
.page-nav .page-nav__day .page-nav__day-number {
    display: block;
}

.page-nav .page-nav__day_chosen {
    flex-grow: 1;
    background-color: #FFFFFF;
    font-weight: 700;
    transform: scale(1.1);
    transition: 0.2s all ease-in-out;
}

.page-nav .page-nav__day_weekend {
    color: #DE2121;
}

.page-nav .page-nav__day_next {
    text-align: center;
}

.page-nav .page-nav__day_next::before {
    content: ">";
    font-family: monospace;
    font-weight: 700;
    font-size: 2.4rem;
}

.page-nav .page-nav__day_today .page-nav__day-week::before {
    content: "Сегодня";
    display: block;
}

.page-nav .page-nav__day_today .page-nav__day-week,
.page-nav .page-nav__day_today .page-nav__day-number {
    display: inline;
}

.movie {
    position: relative;
    padding: 1.5rem;
    margin-top: 3rem;
    background: rgba(241, 235, 230, 0.95);
    color: #000000;
}

.movie .movie__info {
    display: flex;
}

.movie .movie__poster {
    position: relative;
    width: 12.5rem;
    height: 17.5rem;
    /*    left: 1.5rem;
        top: -1.5rem;*/
}

.movie .movie__poster .movie__poster-image {
    position: relative;
    top: -3rem;
    width: 12.5rem;
    height: 17.5rem;
}

.movie .movie__poster::after {
    content: "";
    display: block;
    position: absolute;
    right: -0.7rem;
    top: -3rem;
    border: 1.5rem solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
    border-left: 0.7rem solid rgb(119, 39, 32);
}

.movie .movie__description {
    flex-grow: 1;
    padding-left: 1.5rem;
}

.movie .movie__title {
    font-weight: 700;
    font-size: 1.6rem;
}

.movie .movie__synopsis {
    font-size: 1.4rem;
    margin-top: 1rem;
}

.movie .movie__data {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 1rem;
}

.movie .movie-seances__hall+.movie-seances__hall {
    margin-top: 2rem;
}

.movie .movie-seances__hall .movie-seances__hall-title {
    font-weight: 700;
    font-size: 1.6rem;
}

.movie .movie-seances__hall .movie-seances__list {
    margin-top: 0.7rem;
    font-size: 0;
}

.movie .movie-seances__hall .movie-seances__time-block {
    display: inline-block;
    margin-bottom: 4px;
}

.movie .movie-seances__hall .movie-seances__time-block:nth-last-of-type(n + 1) {
    margin-right: 4px;
}

.movie .movie-seances__hall .movie-seances__time {
    display: block;
    padding: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
}

.movie .movie-seances__hall .movie-seances__time:hover {
    background-color: #e7e7e7;
}

.movie .movie-seances__hall .movie-seances__time:active {
    position: relative;
    top: 1px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24), inset 1px 1px 1px rgba(0, 0, 0, 0.12);
}

/* ~~~~~~~~~~~~ Кинозал ~~~~~~~~~~~~ */
.accepting-button {
    display: block;
    margin: 3rem auto 0;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24), 0px 0px 3px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    border: none;
    padding: 12px 57px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    background-color: #16A6AF;
    color: #FFFFFF;
}

.accepting-button:hover {
    background-color: #14959b;
}

.accepting-button:active {
    position: relative;
    top: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24), inset 2px 2px 2px rgba(0, 0, 0, 0.12);
}

.buying {
    background-color: rgba(241, 235, 230, 0.95);
    padding-bottom: 3rem;
}

.buying__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.buying__info .buying__info-description {
    padding-right: 1.5rem;
}

.buying__info .buying__info-title,
.buying__info .buying__info-hall {
    font-size: 1.6rem;
    font-weight: 700;
}

.buying__info .buying__info-start {
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0.7rem 0;
}

.buying__info .buying__info-hint {
    position: relative;
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
}

.buying__info .buying__info-hint p {
    position: relative;
    width: 10rem;
}

.buying__info .buying__info-hint p::before {
    content: "";
    position: absolute;
    left: -1rem;
    top: calc(50% - 1.6rem);
    display: block;
    width: 2.4rem;
    height: 3.2rem;
    background-image: url(../img/hint.png);
    background-size: 2.4rem 3.2rem;
}

.conf-step {
    text-align: center;
    background-color: #171D24;
    padding: 1.5rem 3rem 1.5rem;
}

.conf-step__wrapper {
    font-size: 0;
    display: inline-block;
    background-image: url(../img/screen.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 3rem;
}

.conf-step__wrapper::before {
    content: "";
}

.conf-step__wrapper .conf-step__chair:hover:not(.conf-step__chair_taken):not(.conf-step__chair_disabled) {
    opacity: 0.9;
}

.conf-step__row {
    display: flex;
}

.conf-step__row+.conf-step__row {
    margin-top: 4px;
}

.conf-step__chair {
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    border: 1px solid #525252;
    box-sizing: border-box;
    border-radius: 4px;
}

.conf-step__chair:not(:first-of-type) {
    margin-left: 4px;
}

.conf-step__chair_disabled {
    opacity: 0;
}

.conf-step__chair_standart {
    background-color: #FFFFFF;
}

.conf-step__chair_vip {
    background-color: #F9953A;
}

.conf-step__chair_taken {
    background-color: transparent;
}

.conf-step__chair_selected {
    background-color: #25C4CE;
    box-shadow: 0px 0px 4px #16A6AF;
    transform: scale(1.2);
}

.conf-step__legend {
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: #FFFFFF;
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
}

.conf-step__legend .col {
    max-width: 25rem;
}

.conf-step__legend .col:first-of-type {
    padding-right: 1.5rem;
    margin-left: auto;
}

.conf-step__legend .col:last-of-type {
    margin-right: auto;
}

.conf-step__legend .conf-step__legend-price+.conf-step__legend-price {
    margin-top: 1rem;
}

/* ~~~~~~~~~~~~ Билет ~~~~~~~~~~~~ */
.ticket__check,
.ticket__info-wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgba(241, 235, 230, 0.95);
}

.ticket__check {
    position: relative;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.ticket__check::before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background-image: url(../img/border-top.png);
    background-size: 10px 3px;
}

.ticket__check::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background-image: url(../img/border-bottom.png);
    background-size: 10px 3px;
}

.ticket__info-wrapper {
    position: relative;
    margin-top: 6px;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.ticket__info-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background-image: url(../img/border-top.png);
    background-size: 10px 3px;
}

.ticket__info-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background-image: url(../img/border-bottom.png);
    background-size: 10px 3px;
}

.ticket__check-title {
    font-weight: 700;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #C76F00;
}

.ticket__info {
    font-size: 1.6rem;
    color: #000000;
}

.ticket__info+.ticket__info {
    margin-top: 1rem;
}

.ticket__details {
    font-weight: 700;
}

.ticket__hint {
    font-weight: 300;
    font-size: 1.4rem;
    margin-top: 3rem;
}

.ticket__hint+.ticket__hint {
    margin-top: 1rem;
}

.ticket__info-qr {
    display: block;
    margin: 3rem auto 0;
    width: 20rem;
    height: 20rem;
}


.login-button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(165, 153, 135);
}

.login-button2 {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.login-button2:hover {
    background-color: rgb(165, 153, 135);
}



@media screen and (max-width: 478px) {
    .movie__info {
        flex-direction: column;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 479px) {
    .page-nav .page-nav__day {
        padding: 1rem 2rem;
    }
}

@media screen and (min-width: 990px) {

    .page-header,
    nav,
    main {
        width: 990px;
        margin: auto;
    }

    .movie,
    .buying {
        border-radius: 2px;
    }

    .buying__info-hint {
        display: none;
    }
}

/*================================================================*/
.movie .movie-seances__hall .accepting-button-disabled {
    background-color: #888888;
    pointer-events: none;
}

.accepting-button:disabled {
    background-color: #888888;
    pointer-events: none;
}

/*# sourceMappingURL=styles.css.map */


.container3 {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(253, 253, 253, 0.1);
    margin-right: auto;
}

/*Login*/
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/back2.jpg);
}

.container {
    width: 320px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(253, 253, 253, 0.1);
    background-color: #000;
    margin-top: 50px;
}

.container h2 {
    color: white !important;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
    color: #f0f0f0;
}

label,
input,
.button-login,
.button-reg,
.button-register,
.button-back {
    margin-bottom: 10px;
    text-align: center;
}

label,
input {
    color: #f0f0f0;
}

input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    transition: border-color 0.3s ease;
    background-color: #ffffff;
    color: #000000;
}

input:focus {
    border-color: #000000;
    outline: none;
}

.button-login,
.button-reg,
.button-register,
.button-back {
    padding: 10px;
    width: 100%;
    background-color: #000000;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-reg,
.button-back {
    background-color: #1f1f1f;
}

.button-login:hover,
.button-reg:hover,
.button-register:hover,
.button-back:hover {
    background-color: rgb(189, 180, 166);
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}



@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin-top: 20px;
    }

    input,
    .button-login,
    .button-reg,
    .button-register,
    .button-back {
        width: 100%;
        margin-top: 20px;
    }
}





@media only screen and (max-width: 768px) {
    .back-kino2 {
        padding: 10px;
        width: 100%;
    }

    .menu-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .menu-bar .buy-ticket {
        margin-top: 10px;
        margin-left: auto;
    }

    .schedule-container,
    .schedule-container2 {
        margin-bottom: 10px;
    }

    .schedule-container2 img {
        max-width: 100%;
        height: auto;
    }

    .back-kino3 {
        max-width: 100%;
        padding: 0;
    }

    .btn-header h3 {
        display: none;
    }

    .movie-description {
        flex-direction: row;
        align-items: flex-start;
        max-width: 100%;
        padding: 0;
    }

    .movie-info h2 {
        padding-top: 10px;
    }

    .movie-info {
        padding-left: 10px;
    }

    .movie-cover {
        display: block;
        margin-right: auto;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

}