body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.h1-404 {
    font-size: 48px;
    margin-bottom: 20px;
}

.p-404 {
    font-size: 18px;
    margin-bottom: 30px;
}


